
<div class="pretty p-switch p-fill">
    <input type="checkbox" ng-model="$parent.adaptiveDisplay">
    <div class="state">
        <label>跟踪显示资源</label>
    </div>
</div>
<br>

<div class="pretty p-switch p-fill">
    <input type="checkbox" ng-model="$parent.showStateInfo">
    <div class="state">
        <label>显示资源状态信息</label>
    </div>
</div>
<br>

<div class="pretty p-switch p-fill">
    <input type="checkbox" ng-model="$parent.indoorOutdoor">
    <div class="state">
        <label>室内外自动切换</label>
    </div>
</div>
<br>

<!--<div class="pretty p-icon p-smooth">-->
    <!--<input type="checkbox" />-->
    <!--<div class="state p-success">-->
        <!--<i class="icon fa fa-check"></i>-->
        <!--<label>fa-check</label>-->
    <!--</div>-->
<!--</div>-->
<!--<br>-->

<!--<div class="pretty p-icon p-smooth">-->
    <!--<input type="checkbox" />-->
    <!--<div class="state p-danger-o">-->
        <!--<i class="icon fa fa-close"></i>-->
        <!--<label>fa-close</label>-->
    <!--</div>-->
<!--</div>-->
<!--<br>-->

<!--<div class="pretty p-icon p-toggle p-plain">-->
    <!--<input type="checkbox" />-->
    <!--<div class="state p-off">-->
        <!--<i class="icon fa fa-heart-o "></i>-->
        <!--<label>fa-heart-o</label>-->
    <!--</div>-->
    <!--<div class="state p-on p-info-o">-->
        <!--<i class="icon fa fa-heart"></i>-->
        <!--<label>fa-heart</label>-->
    <!--</div>-->
<!--</div>-->
<!--<br>-->