<div class="modal" ng-controller="ActivityElementPopupController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h2 translate>PROPERTY.ACTIVITY.ELEMENT.SELECT</h2>
            </div>
            <div class="modal-body">
                <select ng-init="property.activityElement=entities[0]" ng-model="property.activityElement"
                        ng-options="entity.name for entity in entities"
                        ng-if="entities.length>1" class="form-control"></select>
                <h3 ng-if="entities.length<=1" translate>PROPERTY.SELECT.EMPTY</h3>
            </div>
            <div class="modal-footer">
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>