<div class="modal" ng-controller="EventsPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h2 translate>PROPERTY.EVENTS.TITLE</h2>
            </div>
            <div class="modal-body">

                <div class="row row-no-gutter">
                    <div class="form-group">
                        <label class="col-xs-3" style="float:left;font-size: 16px">{{'PROPERTY.EVENTS.LISTENER' | translate}}</label>
                        <div class="col-xs-9" ng-repeat="listener in entity.listeners">
                            <select class="form-control" ng-model="selectedEvent" ng-change="changeEvent(selectedEvent)">
                                <option value="{}" selected="selected">---请选择事件---</option>
                                <option ng-repeat="x in events" value="{{x}}">{{x.name}}</option>
                            </select>
<!--                            <input id="function" class="form-control" type="text" ng-model="listener.value" />-->
<!--                            <i class="glyphicon glyphicon-minus clickable-property" ng-click="removeListenerValue($index)"></i>-->
<!--                            <i ng-if="$index == (entity.listeners.length - 1)" class="glyphicon glyphicon-plus clickable-property" ng-click="addListenerValue($index)"></i>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
