<div class="modal" ng-controller="InputPopupController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h2 translate>PROPERTY.INPUT.SELECT</h2>
            </div>
            <div class="modal-body">
                <select ng-init="property.input=entities[0]" ng-model="property.input"
                        ng-options="entity.name for entity in entities"
                        ng-if="entities.length>1" class="form-control"></select>
                <h3 ng-if="entities.length<=1" translate>PROPERTY.SELECT.EMPTY</h3>
                <div ng-repeat="resource in entity.resources">
                    <input class="form-control" type="hidden" ng-model="resource.value"/>
                    <i class="glyphicon glyphicon-minus clickable-property"
                       ng-click="removeresourceValue($index)"></i>
                    <i ng-if="$index == (entity.resources.length - 1)"
                       class="glyphicon glyphicon-plus clickable-property"
                       ng-click="addresourceValue($index)"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>