<div class="modal" ng-controller="InputPopupController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h2 translate>PROPERTY.INPUT.SELECT</h2>
            </div>
            <div class="modal-body">
                <select ng-multiple="true" ui-select2 ng-model="selectedItems" multiple data-placeholder="-- 请选择 --"
                        style="height:200px" class="form-control">
                    <optgroup data-ng-repeat="a in items" label="{{a.name}}">
                        <option data-ng-repeat="b in a.specialties" value="{{b}}">{{b.name}}</option>
                    </optgroup>
                </select>
            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>