<div class="modal" ng-controller="propertyInitController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h2>{{'PROPERTY.SETTING.TITLE' | translate:nameProperty}}</h2>
            </div>
            <div class="modal-body">
                <input type="text" id="initProperty" placeholder="" ng-model="nameProperty.value" class="form-control"/>
            </div>
            <div class="modal-footer">
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>