<!--<span ng-if="property.value.assignment.assignee">{{'PROPERTY.SERVICES.SOURCE_DISPLAY' | translate:property.value.assignment }} </span>-->
<!--<span ng-if="property.value.assignment.candidateUsers.length > 0">{{'PROPERTY.SERVICES.FUNCTION_DISPLAY' | translate:property.value.assignment.candidateUsers}} </span>-->
<!--<span ng-if="!property.value.assignment.assignee && (!property.value.assignment.candidateUsers || property.value.assignment.candidateUsers.length == 0))" translate>PROPERTY.SERVICES.EMPTY</span>-->

<div ng-controller="ServicesDisplayedCtrl">
    <span ng-if="property.value&&property.value.length>0">{{'PROPERTY.SERVICES.FUNCTION_DISPLAY'| translate:property.value}}</span>
    <span ng-if="!property.value||property.value.length===0">{{'PROPERTY.SERVICES.EMPTY'|translate}}</span>
</div>