<div class="modal" ng-controller="ServicesPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h2 translate>PROPERTY.SERVICES.TITLE</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <label class="col-xs-3"
                               style="float:left;font-size: 16px">{{'PROPERTY.SERVICES.FUNCTION.VALUE' | translate}}</label>
                        <div class="col-xs-9" ng-repeat="Service in entity.Services">
                            <select class="form-control" ng-model="selectedFunction"
                                    ng-change="changeFunction(selectedFunction)">
                                <option value="{}" selected="selected" translate>PROPERTY.SERVICES.SELECT.PLACEHOLDER</option>
                                <option ng-repeat="x in functions" value="{{x}}">{{x.name}}</option>
                            </select>
                            <!--                            <i class="glyphicon glyphicon-minus clickable-property"-->
                            <!--                               ng-click="removeServiceValue($index)"></i>-->
                            <!--                            <i ng-if="$index == (entity.Services.length - 1)"-->
                            <!--                               class="glyphicon glyphicon-plus clickable-property"-->
                            <!--                               ng-click="addServiceValue($index)"></i>-->
                        </div>

                    </div>
                    <hr>
                    <div class="row" ng-repeat="param in serviceParams" style="margin-top:6px">
                        <label class="col-xs-3" style="float:left">{{param}}</label>
                        <div class="col-xs-8" style="position:relative;">

                            <select style="width:178px; position: absolute;left: 0"
                                    ng-model="$parent.modelInput[param]">
                                <option selected>{{'PROPERTY.SERVICES.SELECT'|translate}}{{param}}</option>
                                <option ng-repeat="parameter in visibleParameters" value="{{parameter.name}}">
                                    {{parameter.name}}
                                </option>
                            </select>

                            <input type="text"
                                   style="width:160px;position:absolute;border: 0;border-radius: 5px;left: 2px;height: 16px;top:1px;"
                                   placeholder="{{'PROPERTY.SERVICES.INPUT'|translate}}{{param}}"
                                   id="{{param}}" ng-model="$parent.modelInput[param]">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
