<div class="modal" ng-controller="ServicesPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h2 translate>PROPERTY.SERVICES.TITLE</h2>
            </div>
            <div class="modal-body">
                <div class="row row-no-gutter">
                    <div class="form-group">
                        <label>{{'PROPERTY.SERVICES.FUNCTION.VALUE' | translate}}</label>
<!--                        <select class="form-control" ng-model="selectedFunc">-->
<!--                            <option value="" selected="selected">-&#45;&#45;请选择服务-&#45;&#45;</option>-->
<!--                            <option ng-repeat="x in functions" value="{{x.name}}">{{x.name}}</option>-->
<!--                        </select>-->
                        <div ng-repeat="Service in entity.Services">
<!--                            <input class="form-control" type="hidden" ng-model="Service.value"/>-->
                            <select class="form-control" ng-model="Service.value">
                                <option value="" selected="selected">---请选择服务---</option>
                                <option ng-repeat="x in functions" value="{{x.name}}">{{x.name}}</option>
                            </select>
                            <i class="glyphicon glyphicon-minus clickable-property"
                               ng-click="removeServiceValue($index)"></i>
                            <i ng-if="$index == (entity.Services.length - 1)"
                               class="glyphicon glyphicon-plus clickable-property"
                               ng-click="addServiceValue($index)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>